main{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
    width: 98%;
    max-width: 1200px;
}
dl{
    width: 100%;
}
dt{
    margin: 0px 0.5em;
    padding: 0px;
}
form{
    width: 800px;
    max-width: 98%;
    float: left;
}
input{
    border: solid 1px rgba(0,0,0,0.4);
    width: 20em;
    margin-bottom: 0.5em;
}
#submit{
    margin-top : 0.5em;
    margin-right: 0.1em;
    font-size: 1.5em;
    padding: 0.15em 0.5em;
}
textarea{
    width : 100%;
    height: 8em;
}
.errField{
    border: solid 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px 1px rgba(255, 20, 20, 0.4) inset;
}
#errText{
    border: solid 1px rgba(255,0,0,0.3);
    background-color: rgba(255,0,0,0.1);
    padding : 10px;
    width : 20em;
}