*{
    position: relative;
}
html,body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px 0 black;
    text-align: center;
}
#shadow-hide{
    margin-top: 4px;
    width: 100%;
    height: 36px;
    position: absolute;
    background-color: white;
}
#main, main{
    padding-top : 20px;
    padding-left: 15pt;
    margin-top: 40px;
    max-width: 1000pt;
    width: calc(95% - 15pt);
    margin-left: auto; margin-right: auto;
    left:0; right:0;
    box-shadow: 0 0 15px -3px;
    padding-bottom: 30px;
}
.vert{
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-text-orientation: sideways;
    -ms-text-orientation: sideways;
    text-orientation: sideways;
}

.hide{
    display: none;
}
.clear-both{
    clear: both;
    width: 100%;
}
#message,#err{
    width: calc(96% - 10px);
    margin-left: auto; margin-right: auto;
    left: 0; right: 0;
    padding : 10px;
    border-radius: 5px;
    font-size: 25px;    
}
#message{
    border:1px solid lime;
    background-color: #DCFFDD;
    margin-bottom: 20px;
}
#err{
    width: 95%;
    margin-left: auto; margin-right: auto;
    left: 0; right: 0;
    padding : 10px;
    border-radius: 5px;
    font-size: 25px;    
    border:1px solid #FF7777;
    background-color: #FFDDDD;
}