#delete-text{
    width: calc(97% - 5px);
    max-width: 600pt;
    margin-left: auto; margin-right: auto;
    margin-bottom: 25px;
    left: 0; right: 0;
    font-size: 20px;
    text-align: center;
}
#submit{
    padding: 0;
    font-size: 27px;
    width: 100px;
    height: 70px;
    border : solid 1px red;
    background-color: rgba(255,30,30, 0.5);
}
#err{
    margin-bottom: 30px;
    max-width: 600pt;
    font-size: 30px;
}