#submit{
    font-size: 27px;
    width: 150px;
    height: 70px;
}
#register{
    width: 95%;
    max-width: 400pt;
    font-size: 15px;
    margin-left: auto; margin-right: auto;
    text-align: center;
    margin-top: 10px;
}
#err{
    font-size: 20px;
}