#submit{
    font-size: 20px;
    line-height: 1.5em;
    width: 150px;
    height: 100px;
}

#login{
    width: 95%;
    max-width: 400pt;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}