header{
    padding-top: 8px;
    font-size: 30px;
}
#main{
    padding-top: 20px;
}
#twid{
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}
#name{
    padding-left: 5px;
    padding-right: 5px;
}
#id-name{
    font-size: 30px;
    margin-left: 20px;
}
#jouhou-text{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 23px;
}
#jouhou-none{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
td > a{
    color: white;
    text-decoration: none;
}