header{
    padding-top: 5px;
    font-size: 30px;
}
.input-wrapper{
    padding-top: 5px;
    width: 95%;
    max-width: 400pt;
    margin-left: auto; margin-right: auto;
    left:0; right:0;
    height: 50px;
}
.input-label{
    font-size: 20px;
    float: left;
    margin-left: 0;
}
.input-wrapper input{
    float: right;
    width: 60%;
    margin-top: 2px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0, 0.5);
}
#main{
    padding-top: 30px;
}
#submit{
    border-radius: 15px;
    border: 1px solid gray;
    background-color: wheat;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    margin-left: auto; margin-right: auto;
    left:0; right:0;
}
#submit-wrapper{
    width: 100%;
    text-align: center;
}
input.err-field{
    background-color: white;
    border: solid 1px red;
    box-shadow: 0 0 4px 3px rgba(255,0,0, 0.35) inset;
}
#err{
    width: calc(96% - 10px);
    max-width: 400pt;
    margin-left: auto; margin-right: auto;
    left:0; right:0;
    font-size: 15px;
}
#usable-char{
    width: 95%;
    max-width: 400pt;
    font-size: 15px;
    margin-left: auto; margin-right: auto;
    left:0; right:0;
}
#usable-char > div > tt{
    border:solid 1px rgba(0,0,0, 0.2);
    border-radius: 2px;
    margin-left: 5px;
    padding-left:5px; padding-right: 5px;
}
#name-wrapper{
    position: relative;
    padding: 0;
    float: right;
    width: 60%;
    margin-top: 2px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0, 0.5);
}
#name-input{
    float: right;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
}
#pw-wrapper{
    position: relative;
    padding: 0;
    float: right;
    width: calc(60% + 2px);
    margin-top: 2px;
    height: 32px;
    font-size: 17px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0, 0.5);
}
#pw-input{
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
}
#pw-show-button, #pw-show-eye{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    width: 32px;
    float: right;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
}
#pw-show-button{
    z-index: 1;
}
#pw-show-eye{
    background-image: url('/img/pw-show.png');
    z-index: 0;
}