<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Cybersecurity Web Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/bbs.css">
</head>
<body class="text-center">
<header>
<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">This site is a collection of vulnerable web services created in a Cybersecurity course.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
            <li><a href="https://gitlab.com/b20-sec" class="text-white">Gitlab Group</a></li>
        </ul>
        <a class="text-white"href="/">TOP</a>
        </div>
    </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <i class='fas fa-shield-alt'></i>
        <strong>CyberSecurity</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</div>
</header>
<main>
<h1 class="mt-3 mb-3 text-left">掲示板(XSS対策版)</h1>
<dl>
    <%
    var week = ['日', '月', '火', '水', '木', '金', '土'];
    %>
    <% for(let i=0; i<posts.length; i++){ %>
        <dt><%= i %>.<b class="pl-2"><%= posts[i].author %><span style="font-size: 85%;" class="pr-3">さん</span></b></span><%= `${posts[i].t.toLocaleDateString()}(${week[posts[i].t.getDay()]}) ${posts[i].t.toLocaleTimeString()}` %></dt>
        <dd class="pl-4 mb-3"><%= posts[i].text %></dd>
    <% } %>
</dl>
<form method="POST" class="mt-2">
    <div class="float-left">
        <h4 class="mb-2">新しいコメントを投稿</h3>
        <% if(err.text) { %>
            <div id="errText" class="mt-2 mb-2 rounded-lg"><%= err.text %></div>
        <% } %>
        <% if(err.field == 'author'){ %>
            <input type="text" name="author" placeholder="名前" class="float-left rounded errField" required value="<%= author %>">
        <% }else{ %>
            <input type="text" name="author" placeholder="名前" class="float-left rounded" required value="<%= author %>">
        <% } %>
    </div>
    <button id="submit" class="float-right bg-dark text-light border rounded-lg">投稿</button>
    <div style="width: 100%; clear: both;"></div>
    <% if(err.field == 'text'){ %>
        <textarea name="text" placeholder="本文を入力" autocomplete=off required class="rounded errField"><%= text %></textarea>
    <% }else{ %>
        <textarea name="text" placeholder="本文を入力" autocomplete=off required class="rounded"><%= text %></textarea>
    <% } %>
</form>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>