<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Cybersecurity Web Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body class="text-center">
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This site is a collection of vulnerable web services created in a Cybersecurity course.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://gitlab.com/b20-sec" class="text-white">Gitlab Group</a></li>
            <!--<li><a href="#" class="text-white">Email me</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="" class="navbar-brand d-flex align-items-center">
        <i class='fas fa-shield-alt'></i>
        <strong>CyberSecurity</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Very Secure Web Services</h1>
      <p class="lead text-muted">On this site, you can experience the web services that our security measures, which we have cultivated from our many experiences, have been utilized.<br> Of course, there are no vulnerability!</p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-1.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Easy SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/first_injection'">View</button>
                <small class="text-muted">easy</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-2.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Medium SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/top'">View</button>
                <small class="text-muted">medium</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-3.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Hard SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">hard</small>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-1.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Easy SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary"onclick="location.href='/second_injection'">View</button>
                <small class="text-muted">easy</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-2.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Medium SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">medium</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-3.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Hard SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">hard</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-1.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Easy SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">easy</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-2.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Medium SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">medium</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="img/sec-3.jpg" alt="sec-1 [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Hard SQL injection</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <small class="text-muted">hard</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>
<script src="/script/jquery-3.5.1.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>