<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイン</title>
    <link rel="apple-touch-icon" type="image/png" href="/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon/icon-192x192.png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/userForm.css">
    <link rel="stylesheet" href="/style/login.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body class="text-center">
    <header>
        ログイン
    <div class="clear-both"></div>
    </header>
    <div id="shadow-hide"></div>
    <div id="main">
        <% if(err){ %>
            <div id="err">
                <%= err %>
            </div>
        <% } %>
        <form method="POST">
            <% if (url){ %> 
            <input style="display:none" name="url" value="<%= url %>">
            <% } %>
            <div class="input-wrapper" id="name-wrapeer">
            <div class="input-label">ユーザー名</div>
            <% if(name){ %>
                <input type="text" name="name" value="<%= name %>">
            <% }else{ %>
                <input type="text" name="name">
            <% } %>
                <div class="clear-both"></div>
            </div>
            <div class="input-wrapper">
                <div class="input-label">パスワード</div>
                <div id="pw-wrapper">
                    <input type="text" name="pw" id="pw-input">
                    <div id="pw-show-button" style="background-image:url('/img/pw-notshow-line.png')"></div>
                    <div id="pw-show-eye"></div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div id="submit-wrapper">
                <button type="submit" value="ログイン" id="submit">ログイン</button>
            </div>
            <div id="register">または&thinsp;<a href="/registerUser">新規登録</a></div>
        </form>
    </div>
    <script src="/script/userForm-pw.js"></script>
</body>
</html>