<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ユーザー登録</title>
    <link rel="apple-touch-icon" type="image/png" href="/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon/icon-192x192.png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/userForm.css">
    <link rel="stylesheet" href="/style/registerUser.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body class="text-center">
    <header>
        ユーザー登録
        <div class="clear-both"></div>
    </header>
    <div id="shadow-hide"></div>
    <div id="main">
        <% if(err && err !== ''){ %>
            <div id="err">
                <%- err %>
            </div>
        <% } %>
        <form action="/registerUser" method="POST">
            <div class="input-wrapper">
                <div class="input-label">ユーザー名</div>
                <div id="name-wrapper">
                    <input type="text" name="name"<% if(errField.name){ %> class="err-field"<% } if(name){ %> value="<%- name %>"<% } %> id="name-input">
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="input-wrapper">
                <div class="input-label">パスワード</div>
                <div id="pw-wrapper">
                    <input type="password" name="pw"<% if(errField.pw){ %> class="err-field"<% } %> id="pw-input">
                    <div id="pw-show-button" style="background-image:url('/img/pw-notshow-line.png')"></div>
                    <div id="pw-show-eye"></div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="input-wrapper">
                <div class="input-label hamideru fs-14-13">パスワード(再入力)</div>
                <input type="password" name="pw2" class="hamideru w-180-150 <% if(errField.pw2){ %>err-field<% } %>" >
                <div class="clear-both"></div>
            </div>
            <div id="usable-char"><div class="clear-both"></div><div style="float:left">パスワードに使える文字&thinsp;:</div> <div style="float: right; font-size: 14px;"><tt>a-z,A-Z,0-9,<%= '!@#$%^&*()-_=+[]{}\\|;:\'\",.<>/?`~' %></tt></div><div class="clear-both"></div></div>
            <div id="submit-wrapper">
                <button type="submit" value="この内容で登録する" id="submit">この内容で<br>登録する</button>
            </div>
            <div id="login">または&thinsp;<a href="/login">ログイン</a></div>
        </form>
    </div>
    
    <script src="/script/userForm-pw.js"></script>
</body>
</html>