<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Cybersecurity Web Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This site is a collection of vulnerable web services created in a Cybersecurity course.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://gitlab.com/b20-sec" class="text-white">Gitlab Group</a></li>
          </ul>
          <a class="text-white"href="/">TOP</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <i class='fas fa-shield-alt'></i>
        <strong>CyberSecurity</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<h1 class = 'mt-5'>Can you steel admin's password ?</h1>



<form method="GET" action="/second_injection">
  <p>
    <label>○円未満の商品を探します</label>
    <input type="number" name="value" value="<%= val%>" style="margin-left: 15px; margin-right: 5px; width: 100px; text-align: right;">
    <input type="submit" value="送信">
  </p>
</form>
<h2><%= val %>円未満の商品リスト</h2>  
<center>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>値段</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < data.length;i++){ %>
    <tr>
      <td><%= data[i].name %></td>
      <td><%= data[i].value %></td>
    </tr>
    <% } %>
  </tbody>
</table>

</center>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</html>