<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>top - B20</title>
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="hamideru fs-17-15 pt-20-20">
        テストページ
        <div class="clear-both"></div>
    </header>
    <div id="shadow-hide"></div>
    <main>
        <ul id="links" class="hamideru pl-35-32 fs-18-17">
            <li><a href="/registerUser">ユーザー登録</a></li>
            <li>ログイン処理</li>
            <li>
                <ol class="login">
                    <li>
                        Cookie上のフラグによって判定
                        <ul>
                            <li><a href="/login1">ログイン</a></li>
                            <li><a href="/requireLogin1">要ログインページ</a></li>
                        </ul>
                    </li>
                    <li>
                        Cookieにキーを保存しDBと照らし合わせ(SQLインジェクション容易)
                        <ul>
                            <li><a href="/login2">ログイン</a></li>
                                <li><a href="/requireLogin2">要ログインページ</a></li>
                        </ul>
                    </li>
                    <li>
                        Cookieにキーを保存しDBと照らし合わせ(SQLインジェクション困難)
                        <ul>
                            <li><a href="/login3">ログイン</a></li>
                                <li><a href="/requireLogin3">要ログインページ</a></li>
                        </ul>
                    </li>
                    <li>
                        bcryptを使ってパスワードを暗号化して保存
                        <ul>
                            <li><a href="/login4">ログイン</a></li>
                                <li><a href="/requireLogin4">要ログインページ</a></li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li><a href="/logout">ログアウト</a></li>
            <li>掲示板</li>
            <li>
                <ol>
                    <li><a href="/bbs1">XSS未対策</a></li>
                    <li><a href="/bbs2">XSS対策済</a></li>
                </ol>
            </li>
        </ul>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>