<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>アカウントを削除しました</title>
    <link rel="apple-touch-icon" type="image/png" href="/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon/icon-192x192.png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/userForm.css">
    <link rel="stylesheet" href="/style/logout.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style>
    #logout-text{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    </style>
</head>
<body>
    <div id="main">
        <div id="logout-text">
            アカウントを削除しました。<br>
            3秒後にリダイレクトします…
        </div>
    </div>
    <script>
    setTimeout(function(){location.href='/';},3000);
    </script>
</body>
</html>