<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>サイト登録者一覧</title>
    <link rel="apple-touch-icon" type="image/png" href="/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon/icon-192x192.png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/list.css">
    <link rel="stylesheet" href="/style/userList.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        サイト登録者一覧
        <div class="clear-both"></div>
    </header>
    <div id="shadow-hide"></div>
    <div id="main">
        <div id="list-text">サイト登録者一覧 - <%= users.length %>人</div>
        <ul id="list">
        <% for(let user of users){%>
            <li><a href="/user/<%- user.name %>">@<%= user.name %></a></li>
        <% } %>
        </ul>
    </div>
</body>
</html>