<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if(name){ %>
    <title>ユーザー(@<%= name %>)の情報</title>
    <% }else{ %>
    <title>ユーザーが見つかりませんでした</title>
    <% } %>
    <link rel="apple-touch-icon" type="image/png" href="/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon/icon-192x192.png">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/user.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="hamideru fs-20-17 pt-15-22">
        <% if(name){ %>
        ユーザー <%= name %>の情報
        <% }else{ %>
        ユーザーが見つかりませんでした
        <% } %>
        <div class="clear-both"></div>
    </header>
    <div id="shadow-hide"></div>
    <div id="main">
        <% if(name){ %>
            <% if(message){ %>
                <div id="message">
                    <%= message %>
                </div>
            <% } %>
            <div id="id-name" class="hamideru fs-28-23">
                <%= name %>
            </div>    
        <% }else{ %>
            <div id="err">ユーザーが登録されていません。</div>
        <% } %>
    </div>
    
</body>
</html>